 .Home {
      background-color: #141414;
      min-height: 100vh;
      width: 100vw;
      padding: 0;
      margin: 0;
    }
    
.Home h2 {
      color: #fff;
      padding: 20px;
      margin: 0;
    }